.image{
    width: auto;
    height: 10px;
}

.row{
    margin:0 10px;
    
}
.news{
    padding:20px;
}

.title{
    font-size: 18px;
    font-weight: bold;
    padding-top: 25px;
    margin-left: 5px;
}

.desc{
    font-size: 14px;
    margin-left: 10px;
}